@import "./mixin";

//메인 내비게이션
.navigation{
  &__menu-list{
    font-size: 1.5rem;
    width: 1156px;
    margin: 40px auto;
    @include flexbox($ma:space-between);
  }
  li{
    margin-top: 7px;
  }
  &__menu-item{
    > a{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
  }
}
