// --------------------------------------------------------------------------
// 애플리케이션 구성(configure) 변수, 테마 등을 설정합니다.
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// 중단점

$tablet: 768px;
$desktop: 1025px;

// --------------------------------------------------------------------------
// 수치

$mobile-design-width: 375px;
$container-max-width: 1200px;
$rem-base-value: 10px;
$body-font-size: 16px;

// --------------------------------------------------------------------------
// 컬러

$netflix-red: #e50914;
$netflix-vivid-red: #ff000d;
$netflix-gray: #757575;
$netflix-dark-gray: #303030;
$netflix-white: #fff;
$netflix-black: #000;
$netflix-focus-visible: #37ffab;

// --------------------------------------------------------------------------
// 컴포넌트 > 버튼

$button-font-size: 16px;
$button-font-weight: 700;
$button-padding-tb: 12px; // top, bottom
$button-padding-lr: 20px; // left, right
$button-radius: 4px;
